:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-margin-top: 90px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar #navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar #navbar-nav a:hover {
  color: #a3520f;
}

.navbar #navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.15rem solid #a3520f;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar #navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar- extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/asset/kopi\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.5;
}

.hero .content h1 span {
  color: var(--primary);
  font-style: italic;
}

.hero .content p {
  padding-bottom: 25px;
}

.hero .content a {
  background-color: var(--primary);
  color: white;
  padding: 1em 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.hero .content a:hover {
  background-color: #b3733f;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0, 24),
    0 17px 50px 0 rgba(0, 0, 0, 0, 19);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  font-style: italic;
}

.about,
.menu .kontak {
  padding: 5rem 7% 7rem;
}

.about h2,
.menu h2 .kontak h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.kontak h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
  margin-bottom: 10%;
}

.about .row .about-img {
  flex: 1 1 45rem;
  display: flex;
  width: 50%;
}

.about .row .about-img img {
  width: 50%;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.about .row .about-img img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.about .row .about-img img:last-of-type {
  transform: translate(-150px, 80px);
}

.about .row .about-img img:last-of-type:hover {
  transform: scale(1.1) translate(-150px, 80px);
  transition: 0.3s ease-in-out;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  font-size: 25px;
}

.about .row .content h3 {
  margin: 2em;
}

.menu h2 {
  padding-top: 5%;
  margin-top: 10%;
  text-align: center;
  font-size: 2.6rem;
}

.menu h3 {
  margin: 1rem;
}

.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu span {
  color: var(--primary);
  font-weight: 700;
}

.menu p {
  font-size: 1.4rem;
  font-weight: 700;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 17%;
}

.menu-list .menu-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #b3733f;
  border: 1px solid #cf9344;
  border-radius: 40px;
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-list .menu-item img {
  border-radius: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

.menu-list .menu-item img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.menu-list .menu-item .menu-item-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-list .menu-item .buy-button {
  background-color: chocolate;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: right;
}

.menu-list .menu-item .buy-button:hover {
  transition: 0.3 ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
  background-color: #a3520f;
}

.menu-details {
  display: flex;
  position: fixed;
  top: -100%;
  left: 10%;
  width: 80%;
  height: 70%;
  background-color: #9e4b08;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  transition: 1s ease-in-out;
}

.menu-details img {
  height: 50%;
  border-radius: 2em;
  left: 15%;
  position: absolute;
}

.menu-details.muncul {
  z-index: 200;
  transform: translateY(173%);
}

.menu-details .menu-description {
  margin-top: 1em;
  position: absolute;
  right: 17%;
  top: 10%;
}

.menu-description h2:last-of-type {
  margin-top: 0;
  margin-bottom: 25px;
}

.menu-description h2:first-of-type {
  margin-top: 5px;
}

.icon-arrow {
  position: absolute;
  top: 10%;
  left: 5%;
  transition: 0.2s ease-in-out;
}

.icon-arrow:hover {
  transform: scale(1.3);
}

.menu .menu-list .menu-details .product {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 25em;
  right: 25%;
}

.menu .menu-list .menu-details .product span {
  color: white;
}

.menu .menu-list .menu-details .product button {
  background: white;
  color: #a3520f;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20;
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.contact h2 span {
  color: var(--primary);
}

.contact p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.contact-container {
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-row {
  margin-left: 7em;
  padding-right: 50px;
}

.contact-media {
  text-align: right;
  margin-right: 20em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-media span {
  display: flex;
  font-weight: bold;
  color: var(--primary);
  align-items: center;
  gap: 5px;
}

#whatsapp {
  color: white;
}

#instagram {
  color: white;
}

.contact-container .contact-row span {
  color: var(--primary);
}

.contact-container .contact-row .contact-alamat {
  margin: 2% 50% 2% 2em;
}

.contact-container .contact-row .contact-email {
  margin: 2% 50% 2% 2em;
}

.contact-container .contact-row .contact-phone {
  margin: 2% 50% 2% 2em;
}

.separator {
  width: 2px;
  height: 200px;
  background-color: #a67c52;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;
  z-index: 1;
}

.overlay.active {
  display: block;
}

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0.3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a:hover,
footer .link a:hover {
  color: var(--bg);
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}

footer .link {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
  font-weight: bold;
}

footer .link a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media only screen and (max-width: 768px) {
  #hamburger-menu {
    display: inline-block;
  }
  .navbar #navbar-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    font-weight: bold;
    background-color: var(--primary);
    width: 30rem;
    height: 50vh;
    border-radius: 10px;
  }

  .navbar #navbar-nav.active {
    right: 0;
    display: block;
  }
  .navbar #navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar #navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar #navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1em;
  }

  .about .row .about-img {
    width: 100%;
    height: 20%;
  }

  .about .row .content {
    font-size: 15px;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    width: 80%;
    margin-bottom: 20px;
  }

  .menu-details {
    font-size: 18px;
  }

  .menu-details .menu-description {
    margin-top: 0.5em;
    position: absolute;
    right: 8%;
    top: 5%;
  }

  .menu-details img {
    height: 25%;
    border-radius: 1em;
    left: 7%;
    position: absolute;
    top: 25%;
  }

  .menu-description h2:first-of-type {
    font-size: 75;
    text-align: right;
    padding-top: 20%;
  }

  .menu-description h2:last-of-type {
    margin-top: 0;
    text-align: right;
    margin-bottom: 35px;
  }

  .product {
    margin-bottom: 8rem;
  }

  .contact-row {
    flex-direction: column;
    gap: 10px;
  }

  .contact-container {
    padding: 20px;
  }
}
/* Handphone */
@media (max-width: 480px) {
  #hamburger-menu {
    display: inline-block;
  }
  .navbar #navbar-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    font-weight: bold;
    background-color: var(--primary);
    width: 30rem;
    height: 50vh;
    border-radius: 10px;
  }

  .navbar #navbar-nav.active {
    right: 0;
    display: block;
  }
  .navbar #navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar #navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar #navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1em;
  }

  .about .row .about-img {
    width: 100%;
    height: 20%;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    width: 80%;
    margin-bottom: 20px;
  }

  .menu-details {
    font-size: 18px;
  }

  .menu-details .menu-description {
    margin-top: 0.5em;
    position: absolute;
    right: 8%;
    top: 5%;
  }
  .icon-arrow {
    position: absolute;
    top: 10%;
    left: 5%;
    transition: 0.2s ease-in-out;
  }

  .icon-arrow:hover {
    transform: scale(1.3);
  }
  .menu-details img {
    height: 25%;
    border-radius: 1em;
    left: 7%;
    position: absolute;
    top: 25%;
  }

  .menu-description h2:first-of-type {
    font-size: 75;
    text-align: right;
    padding-top: 20%;
  }

  .menu-description h2:last-of-type {
    margin-top: 0;
    text-align: right;
    margin-bottom: 35px;
  }

  .product {
    margin-bottom: 8rem;
  }

  .contact-row {
    flex-direction: column;
    gap: 10px;
  }

  .contact-container {
    padding: 20px;
  }
}
